@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/*Общее*/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container,
.page-container-flex {
  width: 1160px;
  margin: 0 auto;
}

.page-container-flex {
  display: flex;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn,
.btn-dark {
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.btn::before,
.btn-dark::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 8px;
  margin: auto;
  color: #000000;
  background-color: #ffe17f;
  outline: none;
  border: none;
  content: "";
  transition: 0.6s;
}

.btn:focus,
.btn:focus-visible,
.btn-dark:focus,
.btn-dark:focus-visible {
  outline: none;
}

.btn:hover::before {
  transform: scaleY(6.5);
}

.btn:focus::before {
  color: #000000;
  background-color: #af4fff;
  transform: none;
}

.btn:focus:not(:focus-visible)::before {
  color: #000000;
  background-color: #ffe17f;
}

.btn:focus-visible::before {
  color: #000000;
  background-color: #af4fff;
  transform: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffe17f;
}

.btn:active::before {
  transform: scaleY(6.5);
}

.btn-dark::before {
  color: #000000;
  background-color: #ffc700;
}

.btn-dark:hover::before {
  transform: scaleY(5);
}

.btn-dark:focus::before {
  color: #000000;
  background-color: #af4fff;
  transform: none;
}

.btn-dark:focus:not(:focus-visible)::before {
  color: #000000;
  background-color: #ffc700;
}

.btn-dark:focus-visible::before {
  color: #000000;
  background-color: #af4fff;
  transform: none;
}

.disabled {
  color: #ffffff;
  background-color: #363636;
}

/*Header*/

.page-header {
  position: relative;
  z-index: 1;
  padding-top: 40px;
  color: #000000;
  background-color: #ffffff;
}

.logo {
  position: absolute;
  top: 17px;
  left: 61px;
  width: 145px;
  height: 36px;
}

.navigation {
  display: grid;
  grid-template-columns: 516px 1fr;
  gap: 25px 18px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 39px 40px 9px 45px;
  color: #000000;
  background-color: #ffe17f;
}

.navigation-user-list,
.navigation-services {
  display: flex;
  flex-wrap: wrap;
}

.search-form {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  min-height: 40px;
}

.search-field {
  width: 100%;
  padding: 8px 49px;
  padding-bottom: 9px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #ffe17f;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 13px 10px;
  border: 2px solid #ffe17f;
  cursor: pointer;
}

.search-field::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  outline: 2px solid #af4fff;
  border-radius: 20px;
}

.search-button {
  box-sizing: border-box;
  width: 160px;
  margin-left: -160px;
  padding: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #ffe17f;
  border: none;
  outline: 2px solid #000000;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.search-field:placeholder-shown + .search-button {
  display: none;
}

.search-field:not(:placeholder-shown) {
  padding-right: 160px;
  outline: 2px solid #000000;
  border-radius: 20px;
}

.search-field::-webkit-search-cancel-button {
  display: none;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:focus {
  outline: 2px solid #af4fff;
}

.search-button:focus:not(:focus-visible) {
  outline: none;
}

.search-button:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 0 20px 20px 0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}


.navigation-user-list {
  grid-area: 1 / 2 / 2 / 3;
  margin-bottom: -20px;
  padding: 0 10px;
}

.navigation-user-item {
  padding-bottom: 20px;
}

.navigation-login {
  margin-right: auto;
}

.navigation-compare {
  margin-right: 37px;
}

.navigation-cart {
  position: relative;
}

.navigation-user-link {
  display: block;
  padding: 0 10px 0 36px;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.navigation-login .navigation-user-link {
  background-image: url("../images/icons/log-in.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: 11px 3px;
}

.navigation-compare .navigation-user-link {
  padding-left: 31px;
  background-image: url("../images/icons/compare.svg");
  background-repeat: no-repeat;
  background-size: 10px 12px;
  background-position: 11px 2px;
}

.navigation-cart .navigation-user-link {
  position: relative;
  padding-left: 34px;
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: 9px 0;
}

.navigation-cart::before {
  position: absolute;
  top: -2px;
  left: -6px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 21px;
  height: 21px;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50%;
  content: attr(data-amount);
}

.popover {
  position: absolute;
  left: -140px;
  top: 32px;
  z-index: 2;
  display: none;
  box-sizing: border-box;
  width: 320px;
  min-height: 150px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.1);
}

.popover::before {
  position: absolute;
  top: -5px;
  left: 150px;
  width: 14px;
  height: 16px;
  background-color: transparent;
  background-image: url("../images/symbols/popover-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.popover-content {
  height: 100%;
}

.cart-image {
  display: block;
  width: 41px;
  height: 43px;
}

.cart-item {
  display: grid;
  grid-template-columns: 41px 1fr 30px;
  align-items: center;
  gap: 23px;
  padding: 20px;
}

.cart-item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item-title {
  margin: 0;
}

.delete-item-button {
  justify-self: end;
  align-self: start;
  width: 11px;
  height: 11px;
  margin-top: 7px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/symbols/delete-cart-cross.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  border: none;
  cursor: pointer;
}

.cart-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px 20px;
  padding-right: 21px;
  color: #ffffff;
  background-color: #1a1a1a;
}

.cart-open-button {
  margin: 20px;
  margin-bottom: 21px;
  padding: 15px 21px;
  padding-left: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.navigation-cart:hover .popover,
.navigation-cart:focus-within .popover {
  display: block;
}

.cart-item:hover {
  opacity: 0.6;
}

.cart-open-button:hover {
  color: #000000;
  background-color: #ffe17f;
}

.cart-image-link:focus,
.cart-open-button:focus {
  outline: 5px solid #af4fff;
}

.cart-image-link:focus:not(:focus-visible),
.cart-open-button:focus:not(:focus-visible) {
  outline: none;
}

.cart-image-link:focus-visible,
.cart-open-button:focus-visible {
  outline: 5px solid #af4fff;
}

.cart-open-button:active {
  color: rgba(0, 0, 0, 0.2);
  background-color: #ffe17f;
}

.delete-item-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 7px;
  border-radius: 50%;
}

.delete-item-button:focus:not(:focus-visible) {
  outline: none;
}

.delete-item-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 7px;
  border-radius: 50%;
}

.cart-item:active {
  opacity: 0.3;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
  border-radius: 20px;
}

.navigation-user-link:focus:not(:focus-visible) {
  outline: none;
}

.navigation-user-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
  border-radius: 20px;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-services-list {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
  padding: 5px;
}

.navigation-services-item {
  padding-bottom: 15px;
}

.navigation-catalog {
  position: relative;
  margin-right: auto;
  padding-right: 70px;
}

.subcatalog-icon {
  position: absolute;
  top: -12px;
  right: 11px;
  width: 46px;
  height: 46px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  content: "";
}

.subcatalog-icon::before {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../images/symbols/cross.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
  content: "";
}

.navigation-catalog-link:hover + .subcatalog-icon {
  border: 2px solid #000000;
}

.navigation-catalog-link:hover + .subcatalog-icon::before {
  top: 22px;
  background-image: url("../images/symbols/minus.svg");
  opacity: 1;
}

.navigation-catalog-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 7px;
  border-radius: 25px;
}

.navigation-catalog-link:focus:not(:focus-visible) {
  outline: none;
}

.navigation-catalog-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 7px;
  border-radius: 25px;
}

.navigation-catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-catalog-link:active + .subcatalog-icon {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.navigation-catalog-link:active + .subcatalog-icon::before {
  top: 22px;
  background-image: url("../images/symbols/minus.svg");
  opacity: 0.3;
}

.navigation-catalog:hover .navigation-subcatalog,
.navigation-catalog:focus-within .navigation-subcatalog {
  visibility: visible;
}

.navigation-subcatalog {
  position: absolute;
  top: 30px;
  left: -50px;
  z-index: 2;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1160px;
  padding: 40px 45px;
  padding-bottom: 43px;
  background-image: linear-gradient(transparent 31px, #ffe17f 31px);
}

.subcatalog-list {
  margin-bottom: 10px;
}

.subcatalog-list:not(:last-child) {
  margin-right: 16px;
}

.subcatalog-list:nth-child(3) {
  padding-left: 14px;
}

.subcatalog-item:not(:last-child) {
  margin-bottom: 10px;
}

.subcatalog-link {
  display: block;
  padding: 4px 15px;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

.subcatalog-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.subcatalog-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
  border-radius: 25px;
}

.subcatalog-link:focus:not(:focus-visible) {
  outline: none;
}

.subcatalog-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
  border-radius: 25px;
}

.subcatalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-delivery {
  margin-right: 10px;
}

.navigation-warranty {
  margin-right: 71px;
}

.navigation-services-link,
.navigation-catalog-link {
  position: relative;
  display: block;
  padding: 5px 10px;
  color: inherit;
  text-decoration: none;
}

.navigation-services-link,
.navigation-catalog-link,
.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.navigation-services-link::after {
  display: none;
  position: absolute;
  right: 13px;
  bottom: -4px;
  left: 11px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.navigation-services-link:hover::after {
  display: block;
}

.navigation-services-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
  border-radius: 25px;
}

.navigation-services-link:focus:not(:focus-visible) {
  outline: none;
}

.navigation-services-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
  border-radius: 25px;
}

.navigation-services-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-services-link:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

/*Main*/
.main-container {
  flex-grow: 1;
}

.main-index {
  position: relative;
  z-index: 0;
  margin-top: -5px;
}

/*Slider*/

.slider {
  position: relative;
  margin-bottom: 71px;
  color: #000000;
  counter-reset: slider-number;
  z-index: 0;
}

.slide-container {
  display: grid;
  grid-template-columns: 1160px;
}

.slide {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: space-between;
  width: 1160px;
  background-image: linear-gradient(#ffe17f 151px, #ffffff 151px);
}

.quadrocopter-slide {
  z-index: 3;
}

.fitness-tracker-slide {
  z-index: 2;
}

.selfie-stick-slide {
  z-index: 1;
}

.slide::before {
  position: absolute;
  top: 82px;
  right: 20px;
  z-index: -1;
  width: 250px;
  height: 135px;
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  line-height: 30px;
  font-weight: 800;
  color: #ffffff;
  counter-increment: slider-number;
  content: "0"counter(slider-number) " ";
}

.fitness-tracker-slide::before {
  right: 46px;
}

.selfie-stick-slide::before {
  right: 48px;
}

.slide-image {
  width: 560px;
  height: 560px;
}

.slider-arrows-container {
  position: absolute;
  top: 250px;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 522px;
  padding: 0 19px;
}

.slider-arrows {
  width: 20px;
  height: 60px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/symbols/left-arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px 60px;
  background-position: center center;
  border: none;
  cursor: pointer;
}

.arrow-next {
  transform: rotate(180deg);
}

.slider-arrows:hover {
  opacity: 0.6;
}

.slider-arrows:focus {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
}

.slider-arrows:focus:not(:focus-visible) {
  outline: none;
}

.slider-arrows:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
}

.slider-arrows:active {
  opacity: 0.3;
}

.slide-content-container {
  display: flex;
  padding-top: 122px;
  width: 560px;
  flex-direction: column;
}

.slide-content-promo {
  margin-bottom: 29px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.slide-content-info {
  margin: 0;
  margin-bottom: 36px;
}

.slider-btn {
  align-self: flex-start;
  display: block;
  margin-bottom: 55px;
  padding: 14px 39px;
  padding-right: 36px;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
}

.features {
  margin: 0;
  margin-right: 20px;
}

.features:last-child {
  margin-right: 0;
}

.features-value {
  margin-bottom: 11px;
  font-size: 36px;
  color: #000000;
  background-color: #ffffff;
}

.features-description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.features-selfie-stick:not(:last-child) {
  margin-right: 62px;
}

.slider-pagination {
  position: absolute;
  top: 348px;
  right: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 170px;
  padding: 4px 15px;
}

.slider-pagination-item {
  margin-right: 22px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.slider-pagination-button:focus,
.slider-pagination-current-button:focus {
  outline: none;
  border: 2px solid #af4fff;
}

.slider-pagination-button:focus:not(:focus-visible),
.slider-pagination-current-button:focus:not(:focus-visible) {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.slider-pagination-button:focus-visible,
.slider-pagination-current-button:focus-visible {
  outline: none;
  border: 2px solid #af4fff;
}

.slider-pagination-button:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

/*класс для отображения активного слайда*/
.slider-pagination-button-current {
  background-color: #000000;
}

/*Products*/

.products {
  margin-bottom: 69px;
}

.products-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #000000;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.products-item {
  width: 160px;
}

.products-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.products-link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
}

.products-link:hover::before {
  background-color: #ffc700;
}

.products-link:focus {
  outline: none;
}

.products-link:focus .products-title {
  color: #af4fff;
}

.products-link:focus:not(:focus-visible) .products-title {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.products-link:focus-visible .products-title {
  outline: none;
  color: #af4fff;
}

.products-link:focus::before {
  outline: 5px solid #af4fff;
}

.products-link:focus:not(:focus-visible)::before {
  outline: none;
}

.products-link:focus-visible::before {
  outline: 5px solid #af4fff;
}

.products-link:active .products-title {
  color: rgba(0, 0, 0, 0.3);
}

.products-link:active .products-icon {
  fill: rgba(54, 54, 54, 0.3);
}

.products-icon {
  position: absolute;
  fill: #363636;
}

.virtual-reality-icon {
  top: 52px;
  left: 32px;
}

.monopod-icon {
  top: 43px;
  left: 37px;
}

.action-camera-icon {
  top: 38px;
  left: 49px;
}

.fitness-tracker-icon {
  top: 49px;
  left: 26px;
}

.smart-watches-icon {
  top: 30px;
  left: 53px;
}

.quadrocopter-icon {
  top: 48px;
  left: 14px;
}

/*Advantages*/

.advantages {
  margin-bottom: 90px;
}

.advantages-gradient {
  padding-top: 82px;
  padding-bottom: 127px;
  background-image: linear-gradient(#ffffff 112px, #f0f0f0 112px);
}

.advantages-grid-container {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.advantages-details {
  position: relative;
  grid-area: 1 / 2 / -1 / -1;
  display: none;
  padding-left: 240px;
  padding-right: 307px;
}

.advantages-details-warranty,
.advantages-details-credit {
  padding-right: 280px;
}

.advantages-label {
  grid-column: 1 / 2;
  z-index: 1;
  width: 155px;
  margin-top: 10px;
  margin-bottom: 13px;
  padding: 10px 5px;
  padding-right: 0;
}

.advantages-delivery-input:checked ~ .advantages-details-delivery,
.advantages-warranty-input:checked ~ .advantages-details-warranty,
.advantages-credit-input:checked ~ .advantages-details-credit {
  display: block;
}

.advantages-details::before {
  position: absolute;
  top: -70px;
  bottom: -58px;
  left: 117px;
  width: 7px;
  background-color: #000000;
  content: "";
}

.advantages-input:checked + .advantages-label {
  color: #ffe17f;
  background-color: #000000;
  box-shadow: 120px 0 0 0 #000000;
}

.advantages-input:checked + .advantages-label::before {
  display: none;
}

.section-title,
.advantages-subtitle {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.advantages-subtitle {
  margin-bottom: 34px;
}

.advantages-details p {
  margin: 0;
}

.advantages-details::after {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.advantages-details-delivery::after {
  top: 15px;
  right: 66px;
  width: 136px;
  height: 164px;
  background-image: url("../images/services/delivery.svg");
}

.advantages-details-warranty::after {
  top: -10px;
  right: 45px;
  width: 171px;
  height: 195px;
  background-image: url("../images/services/warranty.svg");
}

.advantages-details-credit::after {
  top: -10px;
  right: 70px;
  width: 156px;
  height: 188px;
  background-image: url("../images/services/credit.svg");
}

/*Special-delivery*/

.special-delivery {
  margin-bottom: 98px;
  color: #000000;
  background-color: #f0f0f0;
}

.special-delivery-information {
  padding-left: 5px;
}

.special-delivery-link {
  position: relative;
  display: block;
  padding: 39px 125px;
  padding-top: 38px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.special-delivery-link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  content: "";
}

.special-delivery-icon {
  position: absolute;
  top: 50%;
  left: 40px;
  margin-top: -15px;
  fill: #000000;
}

.delivery-icon-round {
  position: absolute;
  top: 50%;
  right: 33px;
  fill: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  transform: translateY(-50%);
}

.delivery-icon-letter {
  position: absolute;
  top: 50%;
  right: 52px;
  fill: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}

.special-delivery-link:hover {
  background-color: #ebebeb;
}

.special-delivery-link:hover::before {
  background-color: #ffc700;
}

.special-delivery-link:hover .delivery-icon-round {
  background-color: #dcdcdc;
}

.special-delivery-link:hover .delivery-icon-letter {
  fill: #000000;
}

.special-delivery-link:focus {
  outline: 5px solid #af4fff;
}

.special-delivery-link:focus:not(:focus-visible) {
  outline: none;
}

.special-delivery-link:focus-visible {
  outline: 5px solid #af4fff;
}

.special-delivery-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ebebeb;
}

.special-delivery-link:active::before {
  background-color: #ffc700;
}

.special-delivery-link:active .special-delivery-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.special-delivery-link:active .delivery-icon-round {
  fill: #dcdcdc;
}

.special-delivery-link:active .delivery-icon-letter {
  fill: rgba(0, 0, 0, 0.3);
}

/*About us*/

.about-us-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 71px;
}

.about-us {
  position: relative;
  width: 560px;
}

.about-us::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
  content: "";
}

.about-us-title {
  margin-bottom: 46px;
  padding-top: 49px;
}

.about-us-info {
  margin: 30px 0;
  padding-right: 55px;
}

.about-us-list {
  margin-bottom: 58px;
  padding: 45px 35px;
  padding-bottom: 0;
}

.about-us-item {
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.about-us-item::before {
  position: absolute;
  top: 5px;
  left: -34px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffc700;
}

.about-us-subtitle {
  margin: 15px 0;
  font-size: 24px;
  font-weight: 700;
}

.about-us-phone {
  display: block;
  color: inherit;
}

.about-us-address {
  font-style: normal;
  margin: 15px 0;
  margin-bottom: 30px;
  padding-right: 25px;
}

.schedule-list {
  margin-bottom: 54px;
}

.about-us-link {
  padding: 14px;
  padding-left: 19px;
}

.email-link {
  padding: 14px 35px;
  padding-right: 30px;
}

/*Subscribe*/

.subscribe {
  padding-top: 75px;
  padding-bottom: 130px;
  color: #444444;
  background-color: #f0f0f0;
}

.subscribe-container-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 47px;
}

.subscribe-title {
  width: 410px;
}

.subscribe-info {
  width: 528px;
  margin: 0;
  padding: 11px 32px;
}

.subscribe-container-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subscribe-form {
  display: flex;
  width: 860px;
}

.subscribe-field {
  width: 600px;
  padding: 5px 0;
  padding-top: 11px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #f0f0f0;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.subscribe-field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.subscribe-field:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.subscribe-field:hover::placeholder {
  color: rgba(68, 68, 68, 0.7);
}

.subscribe-field:focus {
  outline: none;
  color: rgba(68, 68, 68, 0.5);
  background-color: #dcdcdc;
  border-bottom: 3px solid #dcdcdc;
}

.subscribe-field:not(:placeholder-shown) {
  color: #444444;
  outline: none;
  background-color: transparent;
  border-bottom: 3px solid #000000;
}

/*Это класс для обозначения ошибки при вводе данных*/
.subscribe-field-invalid:not(:placeholder-shown) {
  color: #444444;
  outline: none;
  background-color: transparent;
  border-bottom: 3px solid #ff3d3d;
}

.btn-subscribe {
  display: inline-block;
  box-sizing: border-box;
  width: 260px;
  padding: 6px 40px;
  padding-top: 9px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #dcdcdc;
  cursor: pointer;
}

.btn-subscribe:hover {
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #000000;
}

.btn-subscribe:focus {
  outline: none;
  border: 3px solid #af4fff;
}

.btn-subscribe:focus:not(:focus-visible) {
  border: 3px solid #000000;
}

.btn-subscribe:focus-visible {
  outline: none;
  border: 3px solid #af4fff;
}

.btn-subscribe:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border: 3px solid #000000;
}

.subscribe-notice {
  width: 140px;
  padding: 14px 2px 11px 25px;
  text-align: right;
  background-image: url("../images/symbols/check-mark.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 3px 22px;
}

/*Footer*/

.page-footer {
  padding-top: 134px;
  padding-bottom: 53px;
  color: #ffffff;
  background-color: #444444;
}

.page-footer-container {
  position: relative;
  display: grid;
  grid-template-columns: 308px 474px 1fr;
  gap: 29px 41px;
  width: 1160px;
  margin: 0 auto;
}

.footer-logo {
  position: absolute;
  top: -71px;
  left: -2px;
  width: 145px;
  height: 36px;
}

.footer-address {
  grid-area: 1 / 1 / 2 / 2;
}

.footer-address-info {
  margin: 0;
  padding-right: 40px;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.footer-navigation {
  grid-area: 1 / 2 / 2 / 3;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  padding: 0 4px;
}

.footer-navigation-item {
  margin-bottom: 20px;
}

.footer-navigation-item:not(:nth-child(3n)) {
  margin-right: 8px;
}

.footer-navigation-link {
  position: relative;
  display: block;
  padding: 5px 10px;
  padding-top: 4px;
  text-decoration: none;
  color: inherit;
}

.footer-navigation-link:hover,
.footer-phone-link:hover {
  color: #ffc700;
}

.footer-navigation-link::after {
  position: absolute;
  right: 13px;
  bottom: -4px;
  left: 11px;
  display: none;
  height: 2px;
  background-color: #ffc700;
  content: "";
}

.footer-navigation-link:hover::after {
  display: block;
}

.footer-navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
  border-radius: 25px;
}

.footer-navigation-link:focus:not(:focus-visible) {
  outline: none;
}

.footer-navigation-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
  border-radius: 25px;
}

.footer-navigation-link:active,
.footer-phone-link:active {
  color: rgba(255, 199, 0, 0.3);
}

.footer-navigation-link:active::after {
  display: block;
  background-color: rgba(255, 199, 0, 0.3);
}

.footer-phone {
  grid-area: 1 / 3 / 2 / 4;
  margin-right: -10px;
  padding: 5px 0;
  padding-left: 110px;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  text-align: right;
}

.footer-phone-link {
  display: block;
  padding: 0 10px;
  color: inherit;
  text-decoration: none;
}

.footer-phone-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 5px;
  border-radius: 25px;
}

.footer-phone-link:focus:not(:focus-visible) {
  outline: none;
}

.footer-phone-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
  border-radius: 25px;
}

.footer-social {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-social::before {
  width: 80px;
  height: 7px;
  background-color: #ffc700;
  content: "";
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  padding-left: 34px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin: 8px 0;
  margin-right: 14px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-social-networks-icon {
  position: absolute;
  fill: #444444;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:active .footer-social-icon {
  fill: #ffc700;
}

.footer-social-link:focus .footer-social-icon {
  fill: transparent;
  outline: 5px solid #af4fff;
  border-radius: 50%;
}

.footer-social-link:focus:not(:focus-visible) .footer-social-icon {
  fill: #ffc700;
  outline: none;
}

.footer-social-link:focus-visible .footer-social-icon {
  fill: transparent;
  outline: 5px solid #af4fff;
  border-radius: 50%;
}

.footer-social-link:focus .footer-social-networks-icon {
  fill: #ffffff;
}

.footer-social-link:focus:not(:focus-visible) .footer-social-networks-icon {
  fill: rgba(68, 68, 68, 0.3);
}

.footer-social-link:focus-visible .footer-social-networks-icon {
  fill: #ffffff;
}

.footer-social-link:active .footer-social-networks-icon {
  fill: rgba(70, 70, 70, 0.3);
}

.about-text-link {
  display: flex;
  align-items: center;
  margin-right: -1px;
  font-size: 0;
}

.about-text-icon {
  width: 115px;
  height: 33px;
  padding-bottom: 2px;
  fill: #ffc700;
}

.about-text-link:hover .about-text-icon {
  fill: #ffffff;
}

.about-text-link:focus .about-text-icon {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
  border-radius: 10px;
}

.about-text-link:focus:not(:focus-visible) .about-text-icon {
  outline: none;
}

.about-text-link:focus-visible .about-text-icon {
  outline: 2px solid #af4fff;
  outline-offset: 10px;
  border-radius: 10px;
}

.about-text-link:active .about-text-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 62px 70px;
  padding-bottom: 66px;
  color: #000000;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-delivery {
  width: 920px;
}

.modal-content {
  position: relative;
}

.modal-title {
  margin: 0;
  margin-bottom: 68px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.modal-close-button {
  position: absolute;
  padding: 25px;
  top: 67px;
  right: 58px;
  z-index: 2;
  width: 26px;
  height: 26px;
  background-color: transparent;
  background-image: url("../images/symbols/modal-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  outline: 5px solid #af4fff;
  border-radius: 50%;
}

.modal-close-button:focus:not(:focus-visible) {
  outline: none;
}

.modal-close-button:focus-visible {
  outline: 5px solid #af4fff;
  border-radius: 50%;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal-form-container:last-of-type {
  margin-bottom: 40px;
}

.modal-form-block {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.modal-form-label {
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.modal-form-field {
  box-sizing: border-box;
  padding: 20px;
  padding-right: 50px;
  margin-bottom: 5px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f0f0f0;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal-form-field::placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.6);
}

.modal-note,
.active-error-note {
  font-size: 14px;
  line-height: 20px;
}

.modal-name-note {
  color: #ff3d3d;
}

.modal-form-name .modal-form-field {
  background-image: url("../images/icons/modal-user.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: 326px 24px;
}

.modal-form-email .modal-form-field {
  background-image: url("../images/icons/modal-email.svg");
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: 325px 24px;
}

.modal-form-delivery {
  width: 560px;
}

.modal-form-number {
  position: relative;
  width: 160px;
}

.modal-form-number .modal-form-label {
  position: relative;
}

.modal-tooltip-label::after {
  position: absolute;
  top: -2px;
  right: 14px;
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  vertical-align: middle;
  background-color: #ffe17f;
  border-radius: 50%;
  content: "i";
  cursor: pointer;
}

.modal-tooltip-label:hover ~ .modal-tooltip {
  display: block;
}

.modal-tooltip {
  position: absolute;
  top: 34px;
  right: -20px;
  z-index: 1;
  display: none;
  box-sizing: border-box;
  width: 200px;
  padding: 19px 20px;
  padding-bottom: 21px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-tooltip::before {
  position: absolute;
  top: -5px;
  left: 148px;
  width: 14px;
  height: 16px;
  background-color: transparent;
  background-image: url("../images/symbols/popover-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.modal-tooltip-info {
  margin: 0;
}

.modal-number-container {
  position: relative;
  width: 160px;
}

.modal-number-field {
  box-sizing: border-box;
  width: 160px;
  margin: 0;
  padding: 20px 50px;
  text-align: center;
  appearance: textfield;
}

.model-number-field::-webkit-outer-spin-button,
.modal-number-field::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.modal-number-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  padding: 0;
  color: #000000;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

.modal-button-plus {
  right: 11px;
}

.modal-button-minus {
  left: 11px;
}

.modal-button-plus::before,
.modal-button-minus::before {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 50% 50%;
  opacity: 0.3;
  content: "";
}

.modal-button-plus::before {
  background-image: url("../images/symbols/cross.svg");
}

.modal-button-minus::before {
  background-image: url("../images/symbols/minus.svg");
  background-size: 16px 2px;
}

.btn-modal {
  z-index: 1;
  padding: 10px 28px;
  padding-left: 31px;
  font-size: 18px;
  color: #000000;
  background-color: transparent;
  border: none;
}

.modal-form-field:hover {
  background-color: #ebebeb;
}

.modal-form-field:focus {
  outline: 5px solid #af4fff;
}

.modal-number-button:hover::before {
  opacity: 1;
}

.modal-number-button:focus {
  outline: 2px solid #af4fff;
  border-radius: 50%;
}

.modal-number-button:focus:not(:focus-visible) {
  outline: none;
}

.modal-number-button:focus-visible {
  outline: 2px solid #af4fff;
  border-radius: 50%;
}

.modal-number-button:active::before {
  opacity: 0.1;
}

/*modal-field-active -дополнительный класс для отображения активности*/
.modal-field-active {
  outline: 3px solid #000000;
}

.modal-field-active ~ .modal-note {
  display: none;
}

.modal-field-active ~ .active-error-note {
  display: block;
}

/*.modal-field-error дополнительный класс для отображения ошибки*/

.modal-field-error {
  outline: 3px solid #ff3d3d;
}

.modal-field-error ~ .active-error-note {
  display: block;
  color: #ff3d3d;
}

.modal-field-error ~ .modal-note {
  display: none;
}

.active-error-note {
  display: none;
}

/*Сatalog*/

/*Catalog-navigation*/

.navigation-user-name {
  margin-right: 8px;
}

.navigation-username-link {
  background-image: url("../images/icons/log-in.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: 11px 2px;
}

.navigation-logout {
  margin-right: 31px;
}

.navigation-logout-link {
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.3);
}

.navigation-logout-link:hover {
  color: #000000;
}

.navigation-logout-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-compare-catalog {
  margin-right: auto;
}

.navigation-catalog-page {
  padding-bottom: 41px;
}

/*Catalog inner-header*/

.main-inner {
  color: #000000;
  background-color: #ffffff;
}

.inner-header {
  box-sizing: border-box;
  padding-left: 55px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 5px;
  padding-top: 37px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

/*Breadcrumbs*/

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item {
  position: relative;
  margin-bottom: 5px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 7px;
  right: -15px;
  width: 4px;
  height: 7px;
  background-image: url("../images/symbols/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 25px;
}

.breadcrumbs-link {
  display: block;
  padding: 0 5px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:not(li:last-child .breadcrumbs-link):hover {
  color: #000000;
}

.breadcrumbs-link:not(li:last-child .breadcrumbs-link):active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:not(li:last-child .breadcrumbs-link):focus {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}

.breadcrumbs-link:not(li:last-child .breadcrumbs-link):focus:not(:focus-visible) {
  outline: none;
}

.breadcrumbs-link:not(li:last-child .breadcrumbs-link):focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}

/*Catalog layout*/

.catalog-products {
  display: grid;
  grid-template-columns: 1fr 329px 832px 1fr;
  color: #000000;
  background-color: #ebebeb;
}

.catalog-products-title {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0;
  padding: 20px 61px;
  color: #000000;
  background-color: #dcdcdc;
}

.catalog-products::before {
  grid-area: 1 / 1 / 2 / 2;
  content: "";
  background-color: #dcdcdc;
}

.catalog-filter-form {
  grid-area: 2 / 2 / 3 / 3;
  padding: 83px 58px;
  padding-left: 49px;
}

.sorting-control-container {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
}

.products-card-container {
  grid-area: 2 / 3 / 3 / 4;
  padding-top: 69px;
  padding-left: 72px;
  color: #000000;
  background-color: #ffffff;
}

.catalog-products::after {
  grid-area: 2 / 4 / 3 / 5;
  background-color: #ffffff;
  content: "";
}

/*Filter-form*/

.catalog-filter-group {
  margin: 0;
  padding: 10px;
  border: none;
}

.catalog-filter-title {
  position: relative;
  display: block;
  margin-bottom: 13px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-filter-title::before {
  position: absolute;
  top: -13px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.catalog-filter-price {
  margin-bottom: 38px;
}

.catalog-filter-color {
  margin-bottom: 32px;
}

.catalog-filter-bluetooth {
  margin-bottom: 19px;
}

.catalog-filter-label {
  padding-top: 16px;
}

.range {
  padding-top: 15px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-left: 2px;
  margin-bottom: 14px;
  background-color: #dcdcdc;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 0;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -9px;
  left: 0;
}

.toggle-max {
  top: -9px;
  right: -9px;
}

.filter-label-container {
  display: flex;
  justify-content: space-between;
}

.filter-price-label {
  font-family: inherit;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.range-input {
  padding: 0;
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  outline: none;
  border: none;
  appearance: textfield;
  cursor: pointer;
}

.range-input-min {
  width: 10px;
}

.range-input-max {
  width: 90px;
}

.range-toggle:focus {
  outline: none;
  border: 2px solid #af4fff;
  border-radius: 50%;
}

.range:focus-within .filter-price-label,
.range:focus-within .range-input {
  color: #af4fff;
}

.label-range-min {
  margin-left: -7px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/*active -дополнительные классы  для отображения активности range-слайдера*/
.filter-price-label-active,
.filter-price-label-active .range-input {
  color: #000000;
}

.range-toggle-active {
  background-color: #000000;
}

.filter-control {
  position: relative;
}

.filter-item {
  padding: 0 39px;
  margin-bottom: 10px;
}

.filter-control-label {
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.filter-control-mark {
  position: absolute;
  top: 3px;
  left: -35px;
  width: 16px;
  height: 16px;
  outline: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .filter-control-mark {
  outline: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .filter-control-mark::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-image: url("../images/symbols/tick-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.control-input:checked:hover ~ .filter-control-label {
  opacity: 0.5;
}

.control-input:checked:hover + .filter-control-mark {
  outline: 2px solid #000000;
  opacity: 0.5;
}

.control-input:focus ~ .filter-control-label {
  color: #af4fff;
}

.control-input:focus:not(:focus-visible) ~ .filter-control-label {
  color: #000000;
}

.control-input:focus-visible ~ .filter-control-label {
  color: #af4fff;
}

.control-input:focus + .filter-control-mark,
.control-input:checked:focus + .filter-control-mark {
  outline: 2px solid #af4fff;
}

.control-input:focus:not(:focus-visible) + .filter-control-mark,
.control-input:checked:focus:not(:focus-visible) + .filter-control-mark {
  outline: 2px solid #000000;
}

.control-input:focus-visible + .filter-control-mark,
.control-input:checked:focus-visible + .filter-control-mark {
  outline: 2px solid #af4fff;
}

.control-input:checked:focus + .filter-control-mark::after {
  background-image: url("../images/symbols/tick-violet.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.control-input:checked:focus:not(:focus-visible) + .filter-control-mark::after {
  background-image: url("../images/symbols/tick-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.control-input:checked:focus-visible + .filter-control-mark::after {
  background-image: url("../images/symbols/tick-violet.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.filter-radio-item {
  margin-bottom: 11px;
}

.control-input[type="radio"] + .filter-control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .filter-control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked:focus + .filter-control-mark::before {
  background-color: #af4fff;
}

.control-input[type="radio"]:checked:focus:not(:focus-visible) + .filter-control-mark::before {
  background-color: #000000;
}

.control-input[type="radio"]:checked:focus-visible + .filter-control-mark::before {
  background-color: #af4fff;
}

.filter-control:active {
  opacity: 0.2;
}

.filter-control:active + .filter-control-mark {
  outline: 2px solid #000000;
}

.sorting-form-btn {
  z-index: 0;
  margin: 0 12px;
  padding: 7px 36px;
  padding-left: 39px;
  font-size: 18px;
  color: #000000;
  background-color: transparent;
  border: none;
}

.btn-dark:active::before {
  transform: scaleY(5);
}

.sorting-form-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffe17f;
}

/*Sorting controls*/

.sorting-type {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 390px;
  padding: 0 72px;
  margin-right: auto;
}

.catalog-products-title,
.sorting-type-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-type-title {
  margin-right: 41px;
  padding-top: 1px;
}

.select-control {
  box-sizing: border-box;
  min-width: 200px;
  padding: 0 26px 1px 9px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #ebebeb;
  background-image: url("../images/symbols/select-mark.svg");
  background-repeat: no-repeat;
  background-size: 11px 6px;
  background-position: right 2px center;
  border: none;
  appearance: none;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}

.select-control:focus:not(:focus-visible) {
  outline: none;
}

.select-control:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 5px;
}

.select-control:active {
  opacity: 0.3;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 41px;
}

.sorting-button {
  position: relative;
  padding: 0;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sorting-icon {
  position: absolute;
  top: 1px;
  right: 0;
  fill: rgba(0, 0, 0, 0.2);
}

.sorting-current .sorting-icon {
  fill: #000000;
}

.sorting-button:hover .sorting-icon {
  fill: rgba(0, 0, 0, 0.6);
}

.sorting-button:focus {
  outline: 5px solid #af4fff;
  outline-offset: 9px;
}

.sorting-button:focus:not(:focus-visible) {
  outline: none;
}

.sorting-button:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: 9px;
}

/*Products cards */

.catalog-card-container {
  grid-area: 2 / 3 / 3 / 4;
  z-index: 0;
  padding-top: 70px;
  padding-left: 72px;
  color: #000000;
  background-color: #ffffff;
}

.catalog-card-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 36px 40px;
  margin-bottom: 36px;
}

.catalog-image-container {
  position: relative;
  margin-bottom: 22px;
}

.new-product {
  position: absolute;
  top: 27px;
  right: 27px;
  padding: 20px 7px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-transform: uppercase;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.catalog-information-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-card-link {
  margin-bottom: 10px;
  color: inherit;
  text-decoration: none;
}

.catalog-card-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-card-price {
  padding: 4px 1px;
  line-height: 21px;
  word-spacing: 1px;
  color: #444444;
}

.catalog-hover-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 360px;
  height: 380px;
  color: #000000;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.8);
}

.catalog-card-item:hover .catalog-hover-container {
  display: block;
}

.catalog-card-link:focus {
  outline: none;
}

.catalog-card-item:focus-within .catalog-card-image {
  outline: 5px solid #af4fff;
}

.catalog-card-link:focus .catalog-card-title,
.catalog-card-link:focus + .catalog-card-price {
  color: #af4fff;
}

.catalog-card-item:active .catalog-hover-container {
  display: block;
}

.hover-link {
  margin-top: 180px;
  padding: 0 18px;
  padding-right: 16px;
}

.hover-link:active {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.catalog-show-more,
.pagination-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.catalog-show-more {
  width: 100%;
  margin-bottom: 51px;
  padding: 16px 16px 15px 20px;
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dcdcdc;
}

.catalog-show-more:hover {
  border: 3px solid #000000;
}

.catalog-show-more:focus {
  outline: none;
  border: 5px solid #af4fff;
}

.catalog-show-more:focus:not(:focus-visible) {
  border: 3px solid #dcdcdc;
}

.catalog-show-more:focus-visible {
  outline: none;
  border: 5px solid #af4fff;
}

.catalog-show-more:active {
  color: rgba(0, 0, 0, 0.3);
  border: 3px solid rgba(0, 0, 0, 0.3);
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  margin-bottom: 77px;
}

.pagination-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding-left: 53px;
  justify-content: center;
  color: #000000;
  background-color: #ebebeb;
}

.pagination-button {
  padding: 26px 29px;
  padding-bottom: 25px;
  color: #000000;
  background-color: #ebebeb;
  border: none;
}

.pagination-button-forward {
  padding: 26px 27px;
  padding-bottom: 25px;
}

.pagination-item {
  margin: 19px 3px;
  margin-top: 22px;
}

.pagination-link {
  display: block;
  padding: 5px 11px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-button:hover {
  color: #000000;
  background-color: #dcdcdc;
}

.pagination-button:focus {
  outline: 5px solid #af4fff;
  outline-offset: -5px;
}

.pagination-button:focus:not(:focus-visible) {
  outline: none;
}

.pagination-button:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: -5px;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #dcdcdc;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:focus {
  outline: 5px solid #af4fff;
}

.pagination-link:focus:not(:focus-visible) {
  outline: none;
}

.pagination-link:focus-visible {
  outline: 5px solid #af4fff;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}
